[COMMON]
site_count=2

[SITE_1]
name=TRADE_VIEW
id=user_id
pwd=user_pwd
pipe=FAT_TradeView
sym_count=1
sym_1=USDJPY

[SITE_2]
name=GP
id=user_id
pwd=user_pwd

pipe=FAT_GP

sym_count=1
sym_1=USDJPY.agg


fix=1

sym_fix_count=1

sym_fix_1=USD/JPY
min_fix_1=80
max_fix_1=130
config_data=GP\real_data.cfg
config_trade=GP\real_trade.cfg
fix_acc=primexm_saasset_7_jpy_q