[COMMON]
site_count=4

[SITE_1]
name=BITMEX
id=user_id
pwd=user_pwd

sym_count=2
sym_1=XBTUSD
sym_2=XBTU19

[SITE_2]
name=OKEX
id=user_id
pwd=user_pwd

sym_count=2
sym_1=BTC-USDT
sym_2=BTC-USD-190927

[SITE_3]
name=DERIBIT
id=user_id
pwd=user_pwd

sym_count=2
sym_1=BTC-PERPETUAL
sym_2=BTC-27SEP19

[SITE_4]
name=BITFLY
id=user_id
pwd=user_pwd

sym_count=2
sym_1=BTC_JPY
sym_2=BTC_USD


