[DEFAULT]
ConnectionType=initiator
ReconnectInterval=30
LogonTimeout=10
FileStorePath=store
FileLogPath=log
StartTime=17:05:30
EndTime=17:05:00
UseDataDictionary=Y
DataDictionary=FIX44.xml
LogoutTimeout=2
ResetOnDisconnect=N
HeartBtInt=30
ResetSeqNumFlag=N
ResetOnLogon=N

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SocketConnectPort=444
SocketConnectHost=127.0.0.1
Username=primexm_saasset_8_jpy_t
Password=AjtB4wq56vXd
SenderCompID=T062
TargetCompID=XC58

