[COMMON]

logic_count=1

[LOGIC_1]
name=GOLD_LATENCYV2
magic_number = 105

param_count=9

param_1 = ex_dOpenLevel,0.5,0.5,0.1,0.7
param_2 = ex_dSlippage, 0.085, , ,
param_3 = ex_dCloseLevel,0.1,,,
param_4 = ex_nSessionTime,300,200,100,400
param_5 = ex_dSL,0.5,,,
param_6 = ex_nMAPeriod,10,5,5,20
param_7 = ex_dStopLossRatio,1.2,0.8,0.2,1.6
param_8 = ex_nLossTime,6000,6000,3000,12000
param_9 = ex_dDiffRatio,5,4,1,6

product_count=3

product_1_site=PRIME_XM
product_1_symbol = SHGOLD

product_2_site=TRADE_VIEW
product_2_symbol = LDGOLD

product_3_site=TRADE_VIEW
product_3_symbol = USDCNY

