[COMMON]

logic_count=2

[LOGIC_1]
name=ARB_ORG
magic_number = 1029
param_count=3
param_1 = ex_dOpenLevel,0.00008,,,
param_2 = ex_dCloseLevel,0.00003,,,
param_3 = ex_dSlippage,0.00002,,,

product_count=2
product_1_site=TRADE_VIEW
product_1_symbol = EURUSD

product_2_site=GP
product_2_symbol = EURUSD


[LOGIC_2]
name=RATE_REC
magic_number=1030

param_count=1
param_1 = ex_sLogFolder,TV_GP,,,

product_count=4
product_1_site=TRADE_VIEW
product_1_symbol = USDJPY

product_2_site=TRADE_VIEW
product_2_symbol = EURUSD

product_3_site=GP
product_3_symbol = USDJPY

product_4_site=GP
product_4_symbol = EURUSD

