[COMMON]

logic_count=1

[LOGIC_1]
name=ARB_ORG_CNGOLD
logic_id = arb_org_cngold
param_count=7
param_1 = ex_dLots,1,,,
param_2 = ex_nIsNewOrder,10000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.3,0.1,0.1,0.5
param_5 = ex_dCloseLevel,0.2,0.05,0.05,0.3
param_6 = ex_dSlippage,0.1,,,
param_7 = ex_nMAPeriod,90,30,30,90

product_count=3
product_1_site=SH
product_1_symbol = Au(T+D)

product_2_site=GP
product_2_symbol = XAUUSD

product_3_site=GP
product_3_symbol = USDCNY
