[COMMON]

logic_count=1

[LOGIC_1]
name=PAIR_MA
logic_id = pair_vix_us_eur

param_count=7
param_1 = ex_dLots,1,,,
param_2 = ex_nIsNewOrder,10000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.5,0.5,0.1,1
param_5 = ex_dCloseLevel,0.3,0.3,0.1,0.8
param_6 = ex_dSlippage,0.5,,,
param_7 = ex_nMAPeriod,30,30,30,90


product_count=2
product_1_site=VIXUS
product_1_symbol = VIX_US

product_2_site=VIXEUR
product_2_symbol = VIX_EUR

