[COMMON]

logic_count=5

[LOGIC_1]
name=ARB_ORG
logic_id = arb_org_eu
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.00010,,,
param_5 = ex_dCloseLevel,0.00005,,,
param_6 = ex_dSlippage,0.00002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = EURUSD

product_2_site=GP_DEMO
product_2_symbol = EURUSD

[LOGIC_2]
name=ARB_ORG
logic_id = arb_org_uj
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.010,,,
param_5 = ex_dCloseLevel,0.005,,,
param_6 = ex_dSlippage,0.002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = USDJPY

product_2_site=GP_DEMO
product_2_symbol = USDJPY



[LOGIC_3]
name=ARB_ORG
logic_id = arb_org_ej
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.010,,,
param_5 = ex_dCloseLevel,0.005,,,
param_6 = ex_dSlippage,0.002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = EURJPY

product_2_site=GP_DEMO
product_2_symbol = EURJPY

[LOGIC_4]
name=ARB_ORG
logic_id = arb_org_gu
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.00010,,,
param_5 = ex_dCloseLevel,0.00005,,,
param_6 = ex_dSlippage,0.00002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = GBPUSD

product_2_site=GP_DEMO
product_2_symbol = GBPUSD

[LOGIC_5]
name=ARB_ORG
logic_id = arb_org_gj
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.010,,,
param_5 = ex_dCloseLevel,0.005,,,
param_6 = ex_dSlippage,0.002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = GBPJPY

product_2_site=GP_DEMO
product_2_symbol = GBPJPY

[LOGIC_7]
name=ARB_ORG
logic_id = arb_org_au
param_count=7
param_1 = ex_dLots,0.1,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.00010,,,
param_5 = ex_dCloseLevel,0.00005,,,
param_6 = ex_dSlippage,0.00002,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = AUDUSD

product_2_site=GP
product_2_symbol = AUDUSD

[LOGIC_6]
name=ARB_ORG
logic_id = arb_org_xu
param_count=7
param_1 = ex_dLots,0.01,,,
param_2 = ex_nIsNewOrder,0,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.1,,,
param_5 = ex_dCloseLevel,0.05,,,
param_6 = ex_dSlippage,0.02,,,
param_7 = ex_dMaxLots,1,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = XAUUSD

product_2_site=GP_DEMO
product_2_symbol = XAUUSD



[LOGIC_8]
name=RATE_REC
logic_id = price_rec

param_count=4
param_1 = ex_dLots,0.1,,,
param_2 = ex_bIsNewOrder,false,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_sLogFolder,TV_GP,,,

product_count=2
product_1_site=TRADE_VIEW_DEMO
product_1_symbol = USDJPY


product_2_site=GP_DEMO
product_2_symbol = USDJPY

