[COMMON]

logic_count=1

[LOGIC_1]
name=PAIR_CC_V2
logic_id = pair_cc_sh_ld_01
mode_=unit_test

param_count=14
param_1 = ex_dLots,1,,,
param_2 = ex_nIsNewOrder,1000000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpen_abs,0.2,,,
param_5 = ex_dClose_abs,0.2,,,
param_6 = ex_dOpen_ma,0.2,,,
param_7 = ex_dClose_ma,0.2,,,
param_8 = ex_nCCPeriod,60,50,50,200
param_9 = ex_nMAPeriod,90,50,50,200
param_10 = ex_dRenkoStep,0.20,,,
param_11 = ex_dP_ABS,500,,,,
param_12 = ex_dP_MIN,100,,,,
param_13 = ex_sProductType,ABC,,,
param_14 = ex_bPublishRates,true,,,

product_count=3
product_1_site=SHGOLD
product_1_symbol = Au(T+D)

product_2_site=TRADE_VIEW_MT5
product_2_symbol = XAUUSD

product_3_site=TRADE_VIEW_MT5
product_3_symbol = USDCNH

[LOGIC_2]
name=PAIR_CC
logic_id = pair_cc_sh_ld_02
mode=unit_test

param_count=10
param_1 = ex_dLots,2,,,
param_2 = ex_nIsNewOrder,1000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.2,0.5,0.1,1
param_5 = ex_dCloseLevel,0.2,0.3,0.1,0.8
param_6 = ex_dSlippage,0.5,,,
param_7 = ex_nMAPeriod,30,30,30,90
param_8 = ex_dRenkoStep,0.02,,,
param_9 = ex_sProductType,AB05C,,,
param_10 = ex_bPublishRates,false,,,


product_count=3
product_1_site=SHGOLD
product_1_symbol = Au(T+D)

product_2_site=TRADE_VIEW_MT5
product_2_symbol = XAUUSD

product_3_site=TRADE_VIEW_MT5
product_3_symbol = USDCNH

[LOGIC_3]
name=PAIR_CC
logic_id = pair_cc_sh_ld_03
mode=unit_test

param_count=10
param_1 = ex_dLots,4,,,
param_2 = ex_nIsNewOrder,1000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.2,0.5,0.1,1
param_5 = ex_dCloseLevel,0.2,0.3,0.1,0.8
param_6 = ex_dSlippage,0.5,,,
param_7 = ex_nMAPeriod,30,30,30,90
param_8 = ex_dRenkoStep,0.02,,,
param_9 = ex_sProductType,AB075C,,,
param_10 = ex_bPublishRates,false,,,

product_count=3
product_1_site=SHGOLD
product_1_symbol = Au(T+D)

product_2_site=TRADE_VIEW_MT5
product_2_symbol = XAUUSD

product_3_site=TRADE_VIEW_MT5
product_3_symbol = USDCNH

[LOGIC_4]
name=PAIR_CC
logic_id = pair_cc_sh_ld_04
mode=unit_test

param_count=10
param_1 = ex_dLots,4,,,
param_2 = ex_nIsNewOrder,1000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.2,0.5,0.1,1
param_5 = ex_dCloseLevel,0.2,0.3,0.1,0.8
param_6 = ex_dSlippage,0.5,,,
param_7 = ex_nMAPeriod,30,30,30,90
param_8 = ex_dRenkoStep,0.02,,,
param_9 = ex_sProductType,AB,,,
param_10 = ex_bPublishRates,false,,,

product_count=3
product_1_site=SHGOLD
product_1_symbol = Au(T+D)

product_2_site=TRADE_VIEW_MT5
product_2_symbol = XAUUSD

product_3_site=TRADE_VIEW_MT5
product_3_symbol = USDCNH

[LOGIC_5]
name=PAIR_CC
logic_id = pair_cc_sh_ld_05
mode=unit_test

param_count=10
param_1 = ex_dLots,4,,,
param_2 = ex_nIsNewOrder,1000,,,
param_3 = ex_bIsNewSession,true,,,
param_4 = ex_dOpenLevel,0.2,0.5,0.1,1
param_5 = ex_dCloseLevel,0.2,0.3,0.1,0.8
param_6 = ex_dSlippage,0.5,,,
param_7 = ex_nMAPeriod,30,30,30,90
param_8 = ex_dRenkoStep,0.02,,,
param_9 = ex_sProductType,AB05C,,,
param_10 = ex_bPublishRates,false,,,

product_count=3
product_1_site=SHGOLD
product_1_symbol = Au(T+D)

product_2_site=TRADE_VIEW_MT5
product_2_symbol = XAUUSD

product_3_site=TRADE_VIEW_MT5
product_3_symbol = USDCNH
