[COMMON]
site_count=2

[SITE_1]
name=TRADE_VIEW
id=user_id
pwd=user_pwd
pipe=FAT_TradeView
sym_count=2
sym_1=EURUSD
sym_2=USDJPY

[SITE_2]
name=GP
id=user_id
pwd=user_pwd

pipe=FAT_GP

sym_count=2
sym_1=EURUSD
sym_2=USDJPY

fix=1

sym_fix_count=2

sym_fix_1=EUR/USD
sym_fix_2=USD/JPY

config_data=GP\demo_data.cfg
config_trade=GP\demo_trade.cfg
fix_acc=saasset_7_jpy